In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = sns.load_dataset('planets')

### Print/ Display the first 5 rows of dataframe

In [3]:

print(df[:5])
df[:5]

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

### Print/ Display the last 5 rows of dataframe

In [4]:

df[len(df)-5:]

       method  number  orbital_period  mass  distance  year
1030  Transit       1        3.941507   NaN     172.0  2006
1031  Transit       1        2.615864   NaN     148.0  2007
1032  Transit       1        3.191524   NaN     174.0  2007
1033  Transit       1        4.125083   NaN     293.0  2008
1034  Transit       1        4.187757   NaN     260.0  2008

### How many unique methods are there?

# your code here

In [5]:
df.nunique().method

10

### What is the number of data collected in each year?

In [6]:

df.groupby(by="year").sum().number

year
1989      1
1992      6
1994      3
1995      1
1996     15
1997      1
1998     11
1999     24
2000     27
2001     15
2002     46
2003     35
2004     41
2005     64
2006     43
2007     65
2008    120
2009    131
2010    193
2011    354
2012    258
2013    277
2014    117
Name: number, dtype: int64

### Which columns have missing values and how many?

In [7]:

df.isnull().sum()[ df.isnull().sum() > 0 ]

orbital_period     43
mass              522
distance          227
dtype: int64

### Write docstring for the function below.

In [10]:
def do_something(x, y, z):
    """
    Takes three numbers as parameters and divides their products by their sum times two.
    
    """   

    result = 1 / x + 1 / y + 1 / z

    return 1 / result

### Get (print) the docstring of the function defined above.

In [11]:
print(do_something.__doc__)

    Takes three numbers as parameters and divides their products by their sum times two.

### Call do_something function for the (11,13,15) values and save it as result

In [12]:
result = do_something(11,13,15)

### In the variable 's' containing a sentence, extract the word using result defined above as index

In [13]:
s = "I love Machine Learning and Deep Learning"
s.split()[int(result)]

'and'

### Sort the given array below, do not use built in functions. All sorting methods are allowed.

In [4]:


import random

arr = [random.randint(1, 100) for i in range(10)]

def mySort(arr):
    i = 0
    while(i < len(arr) ):
        control = True
        j = 0
        while(j < len(arr) - (i+1) ):
            if arr[j] > arr[j+1]:
                temp = arr[j+1]
                arr[j+1] = arr[j]
                arr[j] = temp
                control = False
            j +=1
        if control:
            break
        i +=1
mySort(arr)
arr

[37, 49, 55, 65, 65, 70, 72, 77, 78, 93]

### define a recursive function to calculate input numbers factorial named factorial

In [25]:
def factorial(input):
    if(input <2):
        return 1
    return input* factorial(input-1)
factorial(15)

1307674368000

### define a function to merge the given arrays and calculate the median named twoMedian

In [13]:
def twoMedian(arr1,arr2):
    arr1.extend(arr2)
    mySort(arr1)
    if(len(arr1) %2== 0):
        return ( arr1[int(len(arr1)/2)] + arr1[int(len(arr1)/2) -1 ] ) / 2
    else: 
        return arr1[int(len(arr1)/2)]

a = [3,1,2]
b = [8,11,0]
twoMedian(a,b)

2.5